@charset "utf-8";

/* Infomind Default CSS : Last Update : 2016-07-14 */


/*font*/

html {
    font-size: 14px;
}
body {
    font-family: "Malgun Gothic", 맑은고딕, sans-serif;
    color: #333;
}

/*button*/

.btn-area {
    display: inline-block;
    width: calc(100% - 40px);
	margin:0 auto;
}
.btn {
    display: inline-block;
    width:100%;
	height:46px;
	line-height:46px;
	text-align:center;
	color:#fff;

}
.btn.orange{background:#f07249;}
.btn.blackL{background:#333;}

/* common */
.mgt10{margin-top:10px;}
.mgt20{margin-top:20px;}
.mgt30{margin-top:30px;}

/* filterPopup */
article#filterPopup{position:fixed;top:0;right:0;left:0;display:none;width:100%;height:100%;background:url('../images/bg.png');z-index:100;}
article#filterPopup section.popupInner{position:relative;display:block;margin-top:165px;margin-left:40px;width:calc(100% - 80px);height:330px;background:#fff;}
article#filterPopup section.popupInner a.close{position:absolute;top:10px;right:10px;width:20px;height:20px;background:url('../images/icon-popClose.png') no-repeat center / 100%;text-indent:-9999px;z-index:9;}
article#filterPopup section.popupInner h1.popupTitle{position:relative;display:inline-block;width:100%;font-size:16px;color:#333;font-weight:600;text-align:center;margin:15px 0;}
article#filterPopup section.popupInner h1.popupTitle small{position:absolute;top:4px;font-size:9px;color:#666;}
article#filterPopup section.popupInner h1.popupTitle small:before{content:'';display:inline-block;width:1px;height:11px;background:#eaeaea;margin:0 5px;}
article#filterPopup section.popupInner ul{padding:0 10px;}
article#filterPopup section.popupInner ul li{float:left;width:calc(100% / 4 - 10px);height:34px;background:#fff;color:#333;margin-left:10px;margin-bottom:10px;}
article#filterPopup section.popupInner ul li a{display:inline-block;width:100%;height:32px;line-height:32px;font-size:10px;color:#333;text-align:center;border:1px solid #eaeaea;background:#fff;border-radius:5px;}
article#filterPopup section.popupInner ul li a.active,article#filterPopup section.popupInner ul li a:hover{background:#f07249;color:#fff;}
article#filterPopup section.popupInner p.popupBtn{position:absolute;bottom:0;left:0;display:inline-block;width:100%;}

/* locationPopup */
article#locationPopup{position:fixed;top:0;right:0;left:0;display:none;width:100%;height:100%;background:url('../images/bg.png');z-index:100;}
article#locationPopup section.popupInner{position:relative;display:block;margin-top:165px;margin-left:40px;width:calc(100% - 80px);height:190px;background:#fff;}
article#locationPopup section.popupInner a.close{position:absolute;top:10px;right:10px;width:20px;height:20px;background:url('../images/icon-popClose.png') no-repeat center / 100%;text-indent:-9999px;z-index:9;}
article#locationPopup section.popupInner h1.popupTitle{position:relative;display:inline-block;width:100%;font-size:16px;color:#333;font-weight:600;text-align:center;margin:15px 0;}
article#locationPopup section.popupInner h1.popupTitle small{position:absolute;top:4px;font-size:9px;color:#666;}
article#locationPopup section.popupInner h1.popupTitle small:before{content:'';display:inline-block;width:1px;height:11px;background:#eaeaea;margin:0 5px;}
article#locationPopup section.popupInner ul{padding:0 10px;}
article#locationPopup section.popupInner ul li{float:left;width:calc(100% / 4 - 10px);height:34px;background:#fff;color:#333;margin-left:10px;margin-bottom:10px;}
article#locationPopup section.popupInner ul li a{display:inline-block;width:100%;height:32px;line-height:32px;font-size:10px;color:#333;text-align:center;border:1px solid #eaeaea;background:#fff;border-radius:5px;}
article#locationPopup section.popupInner ul li a.active,article#locationPopup section.popupInner ul li a:hover{background:#f07249;color:#fff;}
article#locationPopup section.popupInner p.popupBtn{position:absolute;bottom:0;left:0;display:inline-block;width:100%;}
article#locationPopup section.popupInner a.btn{float:left;width:calc(100% / 2);}

/* mainMenu */
nav#mainMenu{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99;display:none;}
nav#mainMenu div.close{float:left;display:block;width:20%;height:100%;background:url('../images/bg.png');}
nav#mainMenu div.menuInner{float:left;display:block;width:80%;height:100%;background:#333;}
nav#mainMenu div.menuInner div.profileArea{position:relative;display:block;width:100%;height:144px;text-align:center;}
nav#mainMenu div.menuInner div.profileArea h2{font-size:18px;font-weight:600;color:#fff;margin-top:10px;}
nav#mainMenu div.menuInner div.profileArea a.profile{display:inline-block;width:50px;height:50px;background:url('../images/profile.png') no-repeat center;background-size:50px;text-indent:-9999px;margin-top:20px;}
nav#mainMenu div.menuInner div.profileArea ul{display:inline-block;width:80%;margin:15px auto 0;}
nav#mainMenu div.menuInner div.profileArea ul li{position:relative;float:left;width:calc(100% / 3);font-size:12px;color:#fff;font-weight:600;}
nav#mainMenu div.menuInner div.profileArea ul li:after{content:'';position:absolute;top:1px;display:block;width:1px;height:11px;background:#fff;}
nav#mainMenu div.menuInner div.profileArea ul li:first-child:after{display:none;}
nav#mainMenu div.menuInner div.profileArea ul li a{display:inline-block;margin-left:5px;color:#f07249;}

nav#mainMenu div.menuInner div.eventBanner{position:relative;display:block;width:100%;height:140px;}
nav#mainMenu div.menuInner div.eventBanner ul li{border:none;}
nav#mainMenu div.menuInner div.eventBanner ul li img{width:100%;height:140px;border:none;}
nav#mainMenu div.menuInner div.eventBanner div.banner-controls{position:absolute;left:0;bottom:5px;display:inline-block;width:100%;height:6px;}
nav#mainMenu div.menuInner div.eventBanner div.banner-controls a{display:inline-block;width:6px;height:6px;background:#fff;border-radius:50%;text-indent:-9999px;}
nav#mainMenu div.menuInner div.eventBanner div.banner-controls a.active{background:#f07249;}

nav#mainMenu div.menuInner ul.menu{display:block;width:100%;}
nav#mainMenu div.menuInner ul.menu li{width:100%;height:39px;border-bottom:1px solid #eaeaea;}
nav#mainMenu div.menuInner ul.menu li a{display:block;width:100%;height:39px;line-height:39px;line-height:39px;font-size:13px;font-weight:600;color:#fff;text-align:left;text-indent:15px;}
nav#mainMenu div.menuInner ul.menu li a.active,nav#mainMenu div.menuInner ul.menu li a:hover{color:#f07249;}

/*  loading  */
body.loading {background:#f07249;text-align:center}
body.loading article.logo h1 {display:block;position:absolute;left:50%;top:50%;margin:-7.022rem 0 0 -3.75rem;width:7.5rem;height:6.563rem;text-indent:-6249.938rem;background:url('../images/loading-logo.png') no-repeat center / 100%}
body.loading article.logo hr{display:inline-block;position:absolute;top:50%;left:50%;margin:56px 0 0 -8px;width:16px;height:2.6px;background:#fff;}
body.loading article.logo p {display:block;color:#fff;font-size:26px;position:absolute;top:50%;margin:112px 0 0 0;width:100%;font-weight:500;text-align:center;}

/* intro */	
body.intro {background:#f4f7f8;text-align:center}
body.intro article.logo{position:relative;width:100%;height:280px;}
body.intro article.logo h1 {display:block;position:absolute;left:50%;top:60px;margin:0 0 0 -3.75rem;width:7.5rem;height:6.563rem;text-indent:-6249.938rem;background:url('../images/intro-logo.png') no-repeat center / 100%}
body.intro article.logo hr{display:inline-block;position:absolute;top:186px;left:50%;margin:0 0 0 -8px;width:16px;height:2.6px;background:#f07249;}
body.intro article.logo p {display:block;font-size:26px;position:absolute;top:220px;margin:0 0 0 0;width:100%;font-weight:500;text-align:center;color:#333;}

body.intro article.memJoin{display:block;width:calc(100% - 40px);height:auto;margin:0 auto;}
body.intro article.memJoin ul{display:block;width:100%;background:#fff;border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;}
body.intro article.memJoin ul li{width:100%;height:45px;line-height:45px;border-top:1px solid #eaeaea;text-align:left;}
body.intro article.memJoin ul li.facebook:before{content:'';display:inline-block;width:20%;height:45px;background:url('../images/icon-facebook.png') no-repeat center;text-align:center;background-size:8px 18px;}
body.intro article.memJoin ul li.instagram:before{content:'';display:inline-block;width:20%;height:45px;background:url('../images/icon-instagram.png') no-repeat center;text-align:center;background-size:18px 18px;}
body.intro article.memJoin ul li.email:before{content:'';display:inline-block;width:20%;height:45px;background:url('../images/icon-email.png') no-repeat center;text-align:center;background-size:17px 13px;}
body.intro article.memJoin ul li a{display:inline-block;width:80%;height:45px;line-height:45px;vertical-align:top;font-size:13px;font-weight:600;color:#333;}
body.intro article.memJoin ul li:last-child{border-bottom:1px solid #eaeaea;}

body.intro article.btn-area{display:block;width:calc(100% - 40px);height:auto;margin:0 auto;}
body.intro article.btn-area a{display:block;width:100%;height:46px;line-height:46px;font-size:15px;font-weight:600;color:#fff;background:#333;text-align:center;}
body.intro article.btn-area a.login{background:#f07249;margin-bottom:15px;}

/* locationAgree */
body.location{background:#fff;text-align:center;}
body.location article.locationAgree{position:relative;width:100%;height:auto;padding-top:100px;}
body.location h1{display:inline-block;font-size:24px;font-weight:600;color:#333;padding-bottom:15px;border-bottom:1px solid #eaeaea;}
body.location a.locationClose{position:absolute;top:20px;right:20px;width:40px;height:40px;background:url('../images/icon-popClose.png') no-repeat center;text-indent:-9999px;}
body.location img{display:block;width:106px;height:106px;margin:45px auto;}
body.location p{font-size:18px;color:#333;line-height:1.4;}
body.location p strong{font-weight:600;}
body.location p.agree{display:inline-block;font-size:13px;font-weight:600;margin:25px 0 15px 0;color:#f07249;border-bottom:1px solid #f07249;padding-bottom:7px;}
body.location a{display:block;width:80%;height:60px;line-height:60px;font-size:16px;font-weight:600;text-align:center;margin:0 auto;color:#fff;background:#333;}

/* joinStep */
body.join{background:#f4f7f8;text-align:center;}
body.join article.joinStep01{position:relative;width:100%;height:auto;}
article > h1{width:100%;height:48px;line-height:48px;font-size:18px;font-weight:600;color:#333;text-align:center;background:#fff;}
article > h1 + a.prev{position:absolute;top:16px;left:13px;display:inline-block;width:10px;height:19px;background:url('../images/icon-prev.png') no-repeat center;background-size:10px 19px;text-indent:-9999px;}
article ul.list-type01{width:100%;}
article ul.list-type01 li{width:100%;height:45px;line-height:45px;border-top:1px solid #eaeaea;text-align:left;}
article ul.list-type01 li a{position:relative;display:inline-block;width:100%;height:45px;line-height:45px;font-size:13px;font-weight:600;color:#333;padding:0 10px;}
article ul.list-type01 li a:after{content:'';position:absolute;top:50%;margin-top:-6px;right:3%;width:6px;height:12px;display:inline-block;background:url('../images/icon-nextStep.png' ) no-repeat right center;background-size:6px 12px;}
article ul.list-type01 li:last-child{border-bottom:1px solid #eaeaea;}

body.join article.joinStep02-sns{width:100%;height:auto;}
article ul.list-type02{width:100%;}
article ul.list-type02 li{width:100%;height:45px;font-size:13px;color:#333;border-top:1px solid #eaeaea;text-align:left;margin-bottom:1px;}
article h2.sTitle{display:inline-block;width:100%;height:45px;line-height:45px;font-size:15px;color:#333;text-indent:20px;text-align:left;font-weight:600;}
article ul.list-type02 li input[type=text],article ul.list-type02 li input[type=password]{display:inline-block;width:100%;height:45px;vertical-align:top;text-indent:10px;}
article ul.list-type02 li a{position:relative;display:inline-block;width:17px;height:17px;border-radius:50%;border:1px solid #f1f3f2;background:#f4f7f8;text-indent:-9999px;margin:0 15px 0 25px;vertical-align:-15px;}
article ul.list-type02 li a.genderSelect-sns{margin:0 15px 0 45px;}
article ul.list-type02 li a.genderSelect{margin:0 15px 0 30%;}
article ul.list-type02 li a i{display:none;}
article ul.list-type02 li a.checked i{position:absolute;top:calc(50% - 5px);left:calc(50% - 5px);display:inline-block;width:10px;height:10px;background:#f07249;border-radius:50%;}
article ul.list-type02 li span{display:inline-block;color:#999;text-indent:10px;}
article ul.list-type02 li:last-child{line-height:45px;border-bottom:1px solid #eaeaea;background:#fff;}

body.join article.joinStep02{width:100%;height:auto;}
body.join article.joinStep02 p{font-size:10px;color:#333;text-align:center;padding:25px 10px 0;}

/* login */
body.login{background:#f4f7f8;text-align:center;}
body.login article.login input[type=password]{height:43px;}
body.login article.login ul.list-type01 li{background:#fff;}
body.login article.login p{font-size:10px;color:#999;text-align:center;margin:20px 0 25px;}
body.login article.login p a{display:inline-block;color:#333;border-bottom:1px solid #333;margin-left:15px;padding-bottom:5px;}

/* main */
body.main{background:#f4f7f8;text-align:center;}
body.main header{position:relative;width:100%;height:54px;background:#fff;}
body.main header a.menu{float:left;display:inline-block;width:53px;height:54px;background:url('../images/icon-menu.png') no-repeat center;background-size:27px 18px;text-indent:-9999px;}
body.main header h1{position:absolute;display:inline-block;top:calc(50% - 10px);left:calc(50% - 52px);font-size:20px;color:#333;}
body.main header h1 a{color:#333;}
body.main header h1 strong{font-weight:800;}
body.main header section.util-menu{position:absolute;top:0;right:13px;}
body.main header section.util-menu li{float:left;width:30px;height:54px;text-align:center;}
body.main header section.util-menu li a{display:inline-block;width:100%;height:54px;line-height:54px;text-indent:-9999px;}
body.main header section.util-menu li a.search{background:url('../images/icon-search.png') no-repeat center;background-size:18px;}
body.main header section.util-menu li a.qrcode{background:url('../images/icon-qrcode.png') no-repeat center;background-size:18px;}
body.main header section.util-menu li a.orderTable{background:url('../images/icon-orderTable.png') no-repeat center;background-size:14px 18px;}

body.main article.mapArea{position:relative;width:100%;height:54px;border-bottom:1px solid #eaeaea;}
body.main article.mapArea h2{position:relative;width:100%;height:54px;line-height:54px;text-align:left;padding-left:45px;font-size:13px;font-weight:600;color:#333;}
body.main article.mapArea h2:before{content:'';position:absolute;top:0;left:5px;display:inline-block;width:30px;height:54px;background:url('../images/icon-marker.png') no-repeat center;background-size:14px 18px;}
body.main article.mapArea h2 a{position:absolute;top:0;right:0;display:inline-block;width:30px;height:54px;text-indent:-9999px;}
body.main article.mapArea h2 a.searchFilter{right:44px;background:url('../images/icon-filter.png') no-repeat center;background-size:14px 17px;}
body.main article.mapArea h2 a.mapView{right:14px;background:url('../images/icon-mapView.png') no-repeat center;background-size:18px 17px;}

body.main article.history{display:block;width:100%;height:206px;background:#fff;border-bottom:1px solid #eaeaea;}
body.main article.history h3{width:100%;height:54px;line-height:54px;border-bottom:1px solid #eaeaea;padding:0 30px;font-size:13px;color:#333;text-align:left;}
body.main article.history h3 span{display:inline-block;height:53px;border-bottom:4px solid #fed55a;}
body.main article.history ul li{float:left;width:calc(100% / 3);text-align:center;}
body.main article.history ul li a{display:block;width:100%;height:151px;}
body.main article.history ul li a img{width:103px;height:103px;border-radius:50%;margin-top:13px;}
body.main article.history ul li a span{display:block;margin-top:10px;font-size:12px;color:#333;}

body.main article.contentDetail{position:relative;display:block;width:100%;height:auto;border-bottom:1px solid #eaeaea;}
body.main article.contentDetail section.contentFull{background:#fff;margin-top:7px;}
body.main article.contentDetail p.imageArea{width:100%;height:200px;background:url('../images/test02.png') no-repeat center;background-size:cover;}
body.main article.contentDetail a.contentView{position:absolute;top:10px;right:10px;display:inline-block;width:42px;height:42px;line-height:42px;color:#fff;background:#333;border-radius:50%;font-size:20px;font-weight:700;}
body.main article.contentDetail a.contentView.visited{background:#f07249;}
body.main article.contentDetail section.contentArea{position:relative;display:block;width:100%;height:56px;padding:0 20px;text-align:left;}
body.main article.contentDetail section.contentArea h4{display:inline-block;font-size:15px;font-weight:600;color:#333;margin-top:15px;}
body.main article.contentDetail section.contentArea h4 small{font-size:10px;color:#666;margin-left:10px;}
body.main article.contentDetail section.contentArea div p.star{display:inline-block;width:15px;height:14px;background:url('../images/icon-star.png') repeat-x left center;background-size:15px 14px;text-indent:-9999px;margin-top:14px;}
body.main article.contentDetail section.contentArea div p.star.no2{width:33px;}
body.main article.contentDetail section.contentArea div p.star.no3{width:47px;}
body.main article.contentDetail section.contentArea div p.star.no4{width:61px;}
body.main article.contentDetail section.contentArea div p.star.no5{width:75px;}
body.main article.contentDetail section.contentArea div ul{position:absolute;right:0;bottom:8px;}
body.main article.contentDetail section.contentArea div ul li{position:relative;float:left;width:46px;height:auto;font-size:10px;color:#333;text-indent:19px;}
body.main article.contentDetail section.contentArea div ul li:nth-child(1):before{content:'';position:absolute;top:0;left:0;display:inline-block;width:16px;height:10px;background:url('../images/icon-hit.png') no-repeat center;background-size:16px 10px;}
body.main article.contentDetail section.contentArea div ul li:nth-child(2):before{content:'';position:absolute;top:-3px;left:0;display:inline-block;width:16px;height:16px;background:url('../images/icon-go.png') no-repeat center;background-size:16px 16px;}
body.main article.contentDetail section.contentArea div ul li:nth-child(2){margin-left:7px;}
body.main article.contentDetail section.contentArea div ul li:nth-child(3):before{content:'';position:absolute;top:-1px;left:1px;display:inline-block;width:12px;height:12px;background:url('../images/icon-review.png') no-repeat center;background-size:12px 12px;}

body.main.map article.mapArea h2 a.move{right:14px;background:url('../images/icon-go.png') no-repeat center;background-size:18px 17px;}
body.main.map article.map{position:relative;width:100%;height:376px;line-height:376px;text-align:center;font-size:30px;color:#333;}
body.main.map article.map a.mapMarker{position:absolute;top:40%;left:40%;display:block;width:47px;height:61px;line-height:48px;background:url('../images/icon-mapMarker.png') no-repeat center;background-size:47px 61px;font-size:20px;color:#f07249;font-weight:600;}
body.main.map article.contentDetail{height:138px;border-top:1px solid #eaeaea;}
body.main.map article.contentDetail p.imageArea{float:left;display:inline-block;width:calc(45% - 1px);height:137px;border-right:1px solid #eaeaea;}
body.main.map article.contentDetail div.controls a{position:absolute;top:calc(50% - 5px);display:inline-block;width:10px;height:19px;text-indent:-9999px;}
body.main.map article.contentDetail div.controls a.prev{background:url('../images/icon-slidePrev.png') no-repeat center;background-size:10px 19px;left:20px;}
body.main.map article.contentDetail div.controls a.next{background:url('../images/icon-slideNext.png') no-repeat center;background-size:10px 19px;right:20px;}
body.main.map article.contentDetail section.contentArea{float:left;display:inline-block;width:55%;height:138px;}
body.main.map article.contentDetail section.contentArea h4 small{display:block;margin:7px 0 0 0;}
body.main.map article.contentDetail section.contentArea div.slideArea div ul{left:20px;bottom:14px;}


/* sub */
header > h1 + a.prev{position:absolute;top:16px;left:13px;display:inline-block;width:10px;height:19px;background:url('../images/icon-prev.png') no-repeat center;background-size:10px 19px;text-indent:-9999px;}
body.sub{background:#f4f7f8;text-align:center;}
body.sub header{position:relative;width:100%;height:54px;background:#fff;}
body.sub header a.menu{float:left;display:inline-block;width:53px;height:54px;background:url('../images/icon-menu.png') no-repeat center;background-size:27px 18px;text-indent:-9999px;}
body.sub header h1{position:absolute;display:inline-block;top:calc(50% - 10px);left:calc(50% - 52px);font-size:20px;color:#333;}
body.sub header h1 a{color:#333;}
body.sub header h1 strong{font-weight:800;}
body.sub header section.util-menu{position:absolute;top:0;right:13px;}
body.sub header section.util-menu li{float:left;width:30px;height:54px;text-align:center;}
body.sub header section.util-menu li a{display:inline-block;width:100%;height:54px;line-height:54px;text-indent:-9999px;}
body.sub header section.util-menu li a.share{background:url('../images/icon-share.png') no-repeat center;background-size:15px 18px;}
body.sub header section.util-menu li a.go{background:url('../images/icon-go.png') no-repeat center;background-size:18px;}
body.sub header section.util-menu li a.orderTable{background:url('../images/icon-orderTable.png') no-repeat center;background-size:14px 18px;}

body.sub article.subVisual{position:relative;display:block;width:100%;height:300px;}
body.sub article.subVisual div{display:block;width:100%;height:300px;overflow:scroll;}
body.sub article.subVisual:after{content:'';position:absolute;top:20px;right:15px;display:inline-block;width:27px;height:18px;background:url('../images/icon-panorama.png') no-repeat center;background-size:27px 18px;}
body.sub article.subVisual span{position:absolute;bottom:20px;right:15px;display:inline-block;width:22px;height:22px;line-height:22px;font-size:12px;font-weight:600;text-align:center;color:#fff;background:#f07249;border-radius:50%;}
body.sub article.contentDetail{width:100%;height:auto;}
body.sub article.contentDetail ul.tabs{display:inline-block;width:100%;}
body.sub article.contentDetail ul.tabs li{float:left;width:calc(100% / 3);height:48px;border-right:1px solid #eaeaea;}
body.sub article.contentDetail ul.tabs li:last-child{border-right:none;}
body.sub article.contentDetail ul.tabs li a{display:inline-block;width:100%;height:48px;line-height:48px;font-size:13px;font-weight:600;color:#666;text-align:center;background:#fff;}
body.sub article.contentDetail ul.tabs li a:hover,body.sub article.contentDetail ul.tabs li a.active{border-bottom:3px solid #fed55a;background:#f9f9f9;color:#333;}
body.sub article.contentDetail ul.tabs li a strong{color:#f07249;}
div#subMenu01,div#subMenu02,div#subMenu03{display:none;}

/* subMenu01정보 */
body.sub div#subMenu01{display:block;width:100%;}
body.sub div#subMenu01 div.infoTitle{position:relative;display:block;width:100%;height:74px;border-bottom:1px solid #eaeaea;padding:0 20px;text-align:left;background:#fff;}
body.sub div#subMenu01 div.infoTitle h3{display:inline-block;font-size:15px;font-weight:600;color:#333;margin-top:20px;}
body.sub div#subMenu01 div.infoTitle h3 small{display:inline-block;font-size:10px;color:#666;margin-left:10px;}
body.sub div#subMenu01 div.star{display:block;width:15px;height:14px;background:url('../images/icon-star.png') repeat-x left center;background-size:15px 14px;text-indent:-9999px;margin-top:7px;}
body.sub div#subMenu01 div.star.no2{width:33px;}
body.sub div#subMenu01 div.star.no3{width:47px;}
body.sub div#subMenu01 div.star.no4{width:61px;}
body.sub div#subMenu01 div.star.no5{width:75px;}
body.sub div#subMenu01 ul{position:absolute;bottom:20px;right:10px;display:inline-block;}
body.sub div#subMenu01 ul li{position:relative;float:left;width:66px;font-size:10px;font-weight:600;color:#333;text-indent:20px;}
body.sub div#subMenu01 ul li:before{position:absolute;content:'';display:inline-block;}
body.sub div#subMenu01 ul li:nth-child(1):before{top:1px;left:0;background:url('../images/icon-hit.png') no-repeat center;width:16px;height:10px;background-size:16px 10px;}
body.sub div#subMenu01 ul li:nth-child(2):before{top:-1px;left:0;background:url('../images/icon-go.png') no-repeat center;width:15px;height:15px;background-size:15px 15px;}
body.sub div#subMenu01 dl{float:left;display:block;width:100%;background:#fff;}
body.sub div#subMenu01 dl dt{float:left;width:20%;font-size:12px;font-weight:600;color:#555;padding:20px 0 0;}
body.sub div#subMenu01 dl dd{float:left;width:80%;font-size:12px;color:#555;padding:15px 10px;text-align:left;line-height:1.4;}
body.sub div#subMenu01 dl .address{position:relative;border-top:1px solid #eaeaea;line-height:1;padding:20px 0;margin-top:15px;}
body.sub div#subMenu01 dl .address a{position:absolute;right:0;top:0;display:inline-block;width:50px;height:50px;line-height:50px;font-size:12px;color:#fff;background:#f07249;text-align:center;border:1px solid #f07249;}
body.sub div#subMenu01 div.map{float:left;display:block;width:100%;height:200px;line-height:200px;background:#fff;border-top:1px solid #eaeaea;}
body.sub div#subMenu01 p.btn-area{float:left;display:inline-block;width:100%;}
body.sub div#subMenu01 p.btn-area a{float:left;display:inline-block;width:calc(100% / 2);height:47px;line-height:47px;font-size:15px;color:#fff;background:#333;}
body.sub div#subMenu01 p.btn-area a.call{background:#f07249;}

/* subMenu02메뉴 */
body.sub div#subMenu02{width:100%;}
body.sub div#subMenu02 ul{display:inline-block;width:100%;}
body.sub div#subMenu02 ul li{width:100%;height:120px;border-bottom:1px solid #eaeaea;}
body.sub div#subMenu02 ul li a{display:inline-block;width:100%;height:120px;}
body.sub div#subMenu02 ul li a p.imageArea{float:left;width:calc(100% / 3);height:120px;background:#f07249;}
body.sub div#subMenu02 ul li a div.contentArea{position:relative;height:120px;margin-left:calc(100% / 3);text-align:left;text-indent:15px;letter-spacing:-1px;}
body.sub div#subMenu02 ul li a div.contentArea h4{position:absolute;top:20px;font-size:16px;font-weight:600;color:#333;}
body.sub div#subMenu02 ul li a div.contentArea h4 small{display:block;font-size:12px;color:#666;margin-top:7px;}
body.sub div#subMenu02 ul li a div.contentArea u{position:absolute;bottom:20px;left:15px;font-size:12px;color:#333;text-decoration:none;padding-left:3px;}
body.sub div#subMenu02 ul li a div.contentArea u:before{content:'';position:absolute;top:-4px;left:0;display:inline-block;width:14px;height:18px;background:url('../images/icon-orderTable.png') no-repeat center;background-size:14px 18px;}
body.sub div#subMenu02 ul li a div.contentArea i{position:absolute;bottom:21px;left:105px;font-size:14px;font-weight:700;color:#f07249;}
body.sub div#subMenu02 ul li a div.contentArea span{position:absolute;top:46px;right:15px;font-size:22px;color:#333;}
body.sub div#subMenu02 ul li a div.contentArea button{position:absolute;right:15px;display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;background:url('../images/plus.png') no-repeat center;background-size:20px;border-radius:50%;text-indent:-9999px;outline-style:none;cursor:pointer;}
body.sub div#subMenu02 ul li a div.contentArea button.plus{top:15px;}
body.sub div#subMenu02 ul li a div.contentArea button.minus{bottom:15px;background:url('../images/minus.png') no-repeat center;background-size:20px;}
body.sub div#subMenu02 div.btn-fixed{position:fixed;bottom:0;left:0;display:inline-block;width:100%;height:46px;}
body.sub div#subMenu02 div.btn-fixed a{float:left;display:inline-block;width:calc(100% / 2);height:46px;line-height:46px;text-align:center;background:#333;font-size:14px;font-weight:600;color:#fff;}
body.sub div#subMenu02 div.btn-fixed a.coupon{background:#f07249;}
body.sub div#subMenu02 div.btn-fixed a.order{position:relative;}
body.sub div#subMenu02 div.btn-fixed a.order:after{content:'3';position:absolute;top:16px;display:inline-block;width:16px;height:16px;line-height:16px;font-size:12px;font-weight:600;text-align:center;color:#fff;background:#f07249;border-radius:50%;margin-left:5px;}

/* subMenu03리뷰 */
body.sub div#subMenu03{width:100%;}
body.sub div#subMenu03 h3{font-size:15px;font-weight:600;color:#333;padding:16px 0;}
body.sub div#subMenu03 div.review-write{position:relative;display:block;width:100%;height:300px;background:#fff;padding:12px 18px;text-align:left;}
body.sub div#subMenu03 div.review-write h4{position:relative;display:inline-block;font-size:13px;color:#333;padding-left:65px;padding-top:15px;}
body.sub div#subMenu03 div.review-write h4:before{content:'';position:absolute;top:0;left:0;display:inline-block;width:50px;height:50px;background:url('../images/profile.png') no-repeat center;background-size:50px;}
body.sub div#subMenu03 div.review-write h4 small{display:block;font-size:10px;color:#999;margin-top:3px;}
body.sub div#subMenu03 div.review-write div.star{position:absolute;right:20px;top:32px;display:inline-block;width:100px;height:14px;}
body.sub div#subMenu03 div.review-write div.star a{display:inline-block;width:20px;height:19px;text-indent:-9999px;background:url('../images/icon-star2.png') no-repeat center / 100%;background-position-y:-18px;margin-right:-4px;}
body.sub div#subMenu03 div.review-write textarea{display:block;width:100%;height:160px;border:1px solid #eaeaea;margin-top:15px;padding:10px;background:#f4f7f8;}
body.sub div#subMenu03 div.review-write span{display:inline-block;font-size:10px;color:#999;margin-top:30px;}
body.sub div#subMenu03 div.review-write p.picAdd{position:absolute;left:77px;bottom:19px;display:inline-block;}
body.sub div#subMenu03 div.review-write p.picAdd a{display:inline-block;width:33px;height:33px;line-height:28px;border:1px solid #eaeaea;background:#f4f7f8;color:#999;font-size:24px;font-weight:600;text-align:center;}
body.sub div#subMenu03 div.review-write p.btn-area{position:absolute;right:15px;bottom:19px;width:auto;}
body.sub div#subMenu03 div.review-write p.btn-area a{float:left;display:inline-block;width:50px;height:33px;line-height:33px;font-size:12px;color:#fff;background:#333;text-align:center;}
body.sub div#subMenu03 div.review-write p.btn-area a.submit{background:#f07249;}

body.sub div#subMenu03 ul.reviewTab{display:inline-block;width:100%;margin-top:20px;}
body.sub div#subMenu03 ul.reviewTab li{float:left;width:calc(100% / 2);height:48px;border-right:1px solid #eaeaea;border-top:1px solid #eaeaea;}
body.sub div#subMenu03 ul.reviewTab li:last-child{border-right:none;}
body.sub div#subMenu03 ul.reviewTab li a{display:inline-block;width:100%;height:48px;line-height:48px;color:#333;background:#fff;text-align:center;}
body.sub div#subMenu03 ul.reviewTab li a:hover,body.sub div#subMenu03 ul.reviewTab li a.active{border-bottom:3px solid #fed55e;background:#f4f7f8;}